<h1><%= @arts_room.room.name %></h1>

<h2><%= @arts_room.art.title %></h2>
<p>
  <img src=<%= @arts_room.art.img_url %> />
</p>

<div class="palette">
  <% index = [1, 2, 3, 4, 5, 6] %>
  <% index.each do |i| %>
    <% if @arts_room.art["color#{i}"] %>
      <div class="color" id=<%= "color#{i}"%> style="background-color: <%= "#{@arts_room.art["color#{i}"]}" %>" value=<%= "#{@arts_room.art["color#{i}"]}"%> > 
      </div>
    <% end %>
  <% end %>
</div>
