
<nav>
  <ul>
      <!-- <li><%= link_to "Home", root_path %></li> -->
      <% if current_user %>
          <!-- <li>Hello, <%= current_user.email %></li> -->
          <li><%= link_to "Home", user_path %></li>
          <li><%= link_to "Search for Art", searches_path %></li>
          <li><%= link_to "My Rooms", rooms_path %></li>
          <li><%= link_to "My Gallery", arts_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </li>
      <% else %>
          <li> <%= link_to "Login",  new_user_session_path %> </li>
      <% end %>
  </ul>
</nav>
<% if current_user %>
  <p>Hello <%= current_user.email %></p>
  <% else %>
  <p>please sign in </p>
  <% end %>

     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
