<p>
  <% @rooms.each do |room| %>
     <%= link_to room.name, room_path(room.id) %>
  <% end%>
</p>
<%= link_to "Create a new room", new_room_path %>

<p>
<% @arts.each do |art| %>
  <h1><%= link_to art.title, art_path(art)%></h1>
  <p> By <%= art.maker %> </p>
  <%= art.year %>
  <img src= <%= art.img_url %> />
  <% end %>
</p>
<%= link_to "Add Art to Collection", searches_path %>
