<%= render "shared/navbar" %>

<h2> Edit <%= @room.name %> </h2>

<%= form_for(@room, method: :patch) do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name%>

    <%= f.label :type_of_room %>
    <%# The stuff in the array are arranged by [name, value]%>
    <%# The string interpolation at the end is the default selected value%>
    <%= select_tag(:type_of_room, options_for_select([["Bedroom", "Bedroom"], ["Living Room", "Living Room"]], "#{@room.type_of_room}")) %>

    <%= f.label :status %>
    <%= select_tag(:status, options_for_select([["Editing", "editing"], ["Publish", "publish"]], "#{@room.status}")) %>

    <%= f.submit %>
<% end %>
