<<<<<<< HEAD
<div class="search-container">
<div class="header">

</div>



<div class="body"
<%= form_tag search_keyword_path, class: "search", remote: true do %>
    <%= label_tag :keyword %>
=======

<div class="artSearch"><%= form_tag search_keyword_path, class: "search", remote: true do %>
    <!-- <%= label_tag :keyword %> -->
>>>>>>> b8e3ad2938f2cf9ecbf67860b781f766c63a8e4e
    <%# nil is here in order to not set the value of the bar %>
    <%= text_field_tag :keyword, nil, placeholder: "Search for art by any keyword" %>

<<<<<<< HEAD
    <%= submit_tag "Submit Search" %>
<% end %>

</div>

<div class="footer">

</div>
=======
    <!-- <%= submit_tag "Submit Search" %> -->
<% end %>
>>>>>>> b8e3ad2938f2cf9ecbf67860b781f766c63a8e4e
</div>
