<%= render "shared/navbar" %>

<div class="search-container">

<% content_for :head do %>
    <%= javascript_include_tag "search" %>
<% end %>
<div class="search-body">
    <div class="artSearch"><%= form_tag search_keyword_path, class: "search", remote: true do %>
        <%# nil is here in order to not set the value of the bar %>
        <%= text_field_tag :keyword, nil, placeholder: "Search for art by any keyword" %>
            <!-- <%= submit_tag "Submit Search" %> -->
        <% end %>
    </div>
</div>
<div class="search-results"></div>
</div>
