<!-- <% content_for :head do %>
  <% stylesheet_link_tag "style", "devise/" %>
<% end %> -->
<div class="login-container">
<div class="flex-outer">
  <div class="flex-content">
  <h2>Sign up</h2>
  <%= render "devise/shared/devise" %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  </div>
  <!-- <%= render "devise/shared/links" %> -->
</div>
<% end %>

</div>
