<%= render "shared/navbar" %>
<div class="profile-body">
  <div class="profile-artside">

    <% @arts.each do |art| %>
      <div class="flex-art">
      <h1><%= link_to art.title, art_path(art)%></h1>
      <div class= "art-box">
        <img class= "profiles-img" src= <%= art.img_url %>></img>
      </div>
      <div class="art-content">
      <p> By <%= art.maker %> </p>
      <p> Year:<%= art.year %></p>
    </div>
    </div>
      <% end %>
    <div class="links">
    <%= link_to "+", searches_path %>
  </div>
</div>
<div class="profile-roomside">

    <% @rooms.each do |room| %>
      <% room.arts_rooms.each do |artsroom| %>
        <div class="roomdiv">
          <iframe src= <%= "#{arts_room_path(artsroom.id)}#room" %>></iframe>
          <%= link_to "#{artsroom.room.name} - #{artsroom.art.title}", arts_room_path(artsroom.id), :class => "iframe-link" %>
        </div>
      <% end %>
    <% end%>

    <div class="links">
    <%= link_to "+", new_room_path %>
    </div>
</div>

</div>
</div>
