<!-- <% content_for :head do %>
  <% stylesheet_link_tag "style", "devise/" %>
<% end %> -->
<!-- <%= yield :head %> -->
<div class="login-container">

  <div class="flex-outer">
    <div class="flex-content">
      <%= render "devise/shared/devise" %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  </div>
  </div>

<!-- <%= render "devise/shared/links" %> -->
</div>
<% end %>
