<%= render "shared/navbar" %>
<div class="show-art">
    <div class="show-image">
        <div class="art-content">
            <p> By <%= @art.maker %> </p>
            <p> Year:<%= @art.year %></p>
        </div>
        <img class="profiles-img" src= <%= @art.img_url %> />
    </div>

    <%= form_for(@addToRoom) do |f| %>
        <%= f.hidden_field :art, value: @art.id %>
        <%= select_tag(:room, options_from_collection_for_select(current_user.rooms, 'id', 'name')
        ) %>

        <%= f.submit %>
    <% end %>

    <%= link_to 'Remove This Piece', @art, method: :delete, data: {confirm: "Are you sure?"} %>
</div>